# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env

# Django
/staticfiles/
/media/

# Virtual environment
venv/
ENV/
env/
.venv/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# React build
build/
dist/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db